.container
  =render 'commons/tabs'
  - posts.each do |post|
    .post_detail
      = link_to account_path(post.user) do
        - if post.photos.attached?
          = image_tag post.user.avatar_image
      %p= "#{post.user.name}・#{post.display_created_at}"
    = link_to post_path(post) do
      .post
        - if post.photos.attached?
          .post_image
            - post.photos.each_with_index do |photo, index|
              - if index == 0
                = image_tag photo, class: 'image-large'
              - elsif index == 1
                = image_tag photo, class: 'image-small-top'
              - elsif index == 2
                = image_tag photo, class: 'image-small-bottom'
        .post_content
          %p= post.content
  
  = link_to new_post_path do
    .float_btn
      %i.fa.fa-plus