.container.profilePage
  .profileHeader
    .header_logos
      = link_to :back do
        = image_tag 'back2.png', class: 'header_back'
      %p.header_accountName #{user.name}
  .profilePage_user
    .profilePage_user_image.image_file_upload
      = image_tag user.avatar_image, id: 'avatar_image'
      - if user == current_user
        %form
          %input#fileInput.hidden{type: 'file', accept: 'image/*'}
          %button#fileInputButton.hidden{type: 'submit'}Submit
    .profilePage_user_actionButton
      - if user == current_user
        = link_to 'Edit', edit_profile_path
      - else
        .hidden.active-follow
          Unfollow
        .hidden.active-unfollow
          Follow
    .profilepage_user_info
      %p
        = user.posts_count
        %br/
        Posts
      %p
        = user.followers_count
        %br/
        Followers 
      %p
        = user.followings_count
        %br/
        Following
    .profilePage_user_introduction
      = user.profile&.introduction
