.container.profilePage
  .profileHeader
    .header_logos
      = link_to :back do
        = image_tag 'back2.png', class: 'header_back'
      %p.header_accountName #{user.name}
  .profilePage_user
    .profilePage_user_image.image_file_upload
      = image_tag user.avatar_image, id: 'avatar_image'
      - if user == current_user
        %form
          %input#fileInput.hidden{type: 'file', accept: 'image/*'}
          %button#fileInputButton.hidden{type: 'submit'}Submit
    .profilePage_user_actionButton
      - if user == current_user
        = link_to 'Edit', edit_profile_path
      - else
        .hidden.active-follow
          Unfollow
        .hidden.active-unfollow
          Follow
    .profilepage_user_info
      %p.profile_wrapper
        %span.top_count= user.posts_count
        %span.bottom_label Posts
      %p.profile_wrapper
        = link_to followers_account_path(user.id) do
          %span.top_count{style: "display: block;"}= user.followers_count
          %span.bottom_label{style: "display: block;"} Followers 
      %p.profile_wrapper
        = link_to followings_account_path(user.id) do
          %span.top_count{style: "display: block;"}= user.followings_count
          %span.bottom_label{style: "display: block;"} Following

.container.recent_post
  - if recent_posts.any?
    .post-grid
      - recent_posts.each do |post|
        .post
          = link_to post_path(post) do
            = image_tag post.photos.first, class: 'post-image'
