<div class="form-container">
  <%= image_tag 'sign_in.png', class: 'signup_img' %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="field">
      <%= f.label :Email, class: 'custom-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :Password, class: 'custom-label' %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <div class="right-align">
      <%= render "devise/shared/links" %>
    </div>

    <div class="actions actions-login">
      <%= f.submit "LOGIN", class: 'actions-btn' %>
    </div>
  <% end %>

  
</div>
