.container-form
  %ul
    - @post.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @post, local: true) do |f|
    %div
      = f.label :content, 'description'
    %div
      = f.text_area :content
    %div
      = f.label :photos, 'photos'
    %div
      = f.file_field :photos, multiple: true
    %div
      = f.label :photos, 'Currently posted photos'
    %div
      - @post.photos.each do |photo|
        = image_tag photo, class: 'edit-photos'
    = f.submit 'post', class: 'btn'