Post New
.container
  %ul
    - @post.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @post, local: true) do |f|
    %div
      = f.label :content, 'description'
    %div
      = f.text_area :content
    = f.submit 'post', class: 'btn'