.container-form
  .container
    .followHeader
      .header_logos
        = link_to :back do
          = image_tag 'back2.png', class: 'header_back'
      %p.centered-text= 'Followers'

  .container
    - @followers.each do |follower|
      .follow_detail
        = link_to account_path(follower) do
          = image_tag follower.avatar_image
        .text-area
          %p.name= follower.name
          %p.last-login
            - if follower.last_sign_in_at.present?
              = "Last seen #{time_ago_in_words(follower.last_sign_in_at)} ago"
            - else
              = "Last seen: Never signed in"